.textAnimation {
    transition: all 0.25s ease-in-out;
}

.textAnimation:hover {
    font-family: "montagu slab";
    transform: scale(1);
}

.projectInner {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.hover-project{
    transform: translateX(-300px);
    transition: all 1s ease-in;
}

.projectOuter:hover {
    .projectInner {
        visibility: visible;
        opacity: 1;
    }
    .hover-project{
        transform: translateX(0);
    }
}

/* Project page */
